* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


.movie__link--info {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-left: 52px;
    padding-bottom: 48px;
}

.movie__selected {
    display: flex;
    align-items: center;
}

.back__btn__selected {
    font-style: italic;
    font-size: large;
}

.movie__info--title {
    padding-left: 24px;
    padding-bottom: 24px;
}

.movie__selected--figure {
    width: 40%;
    padding: 4px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie__selected--description {
    width: 60%;
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
   
}

.movie__selected--img {
    max-height: 500px;
    max-width: 100%;
    scale: 1;
}

.movie__text--title {
    padding-bottom: 24px;
}

.movie__text {
    line-height: 1.5;
}